/* css grid */

/* applies after most common phone size is exceeded */
@media (min-width: 769px) {
  #emailRegister {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1.5rem;
  }
}

@media (max-width: 769px) {
  #emailRegister {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.7rem;
  }
}

input,
input::placeholder {
  font: 2rem;
}

/* #main_section_div {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
} */
